{% extends "allauth/layouts/base.html" %}
{% load allauth account %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block card_content %}
    <h3 class="text-center">{% trans "Sign In" %}</h3>
    {% if form.errors %}
    <p style="color: red; text-align: center; margin-top: 10px;">
        Invalid username or password. Please try again.
    </p>
    {% endif %}
    
    {% if SOCIALACCOUNT_ENABLED %}
        <div class="text-center">
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
    {% endif %}
{% endblock card_content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}