{% extends "allauth/layouts/base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block card_content %}
    <h3 class="text-center">{% trans "Sign Up" %}</h3>
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    <div class="text-center">
        {% element p %}
            <p>{% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}</p>
        {% endelement %}
    </div>
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                <div class="text-center">
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
                </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if PASSKEY_SIGNUP_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
            {% trans "Sign up using a passkey" %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        <div class="text-center">
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
    {% endif %}
{% endblock card_content %}